<div class='container'>
    <div class='card hover'>
        <div class='container'>
            <form>
                <div class='row'>
                    <div class='col s12'>
                        <div class="input-field">
                            <input id="userNumberEntered" type="text" class="validate">
                            <label for="userNumberEntered">User Number</label>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col s12'>
                        <a id='searchUserNumber' class='btn-large btn'>Enter User Number</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>