<div class='container'>
    <div class='card hover'>
        <div class='container'>
            <form>
                <h2 class="header notWhite">Enter User Info</h2>
                <div class='row'>
                <div class="input-field col s12">
                    <input id="name" type="text" class="validate">
                    <label for="name">Name</label>
                </div>
                </div>

                <div class='row'>
                    <div class="input-field col s8">
                        <input id="homeCity" type="text" class="validate">
                        <label for="homeCity">Home City</label>
                    </div>
                    <div class="input-field col s4">
                        <select id='state'>
                            <option value="" disabled selected>Choose State</option>
                            <option value="AL">AL</option>
                            <option value="AK">AK</option>
                            <option value="AZ">AZ</option>
                            <option value="AR">AR</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="DE">DE</option>
                            <option value="DC">DC</option>
                            <option value="FL">FL</option>
                            <option value="GA">GA</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="IA">IA</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="ME">ME</option>
                            <option value="MD">MD</option>
                            <option value="MA">MA</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MS">MS</option>
                            <option value="MO">MO</option>
                            <option value="MT">MT</option>
                            <option value="NE">NE</option>
                            <option value="NV">NV</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NY">NY</option>
                            <option value="NC">NC</option>
                            <option value="ND">ND</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VT">VT</option>
                            <option value="VA">VA</option>
                            <option value="WA">WA</option>
                            <option value="WV">WV</option>
                            <option value="WI">WI</option>
                            <option value="WY">WY</option>
                        </select>
                    </div>
                </div>
                
                <div class='row'>
                    <div class="input-field col s12">
                        <select multiple id='sourceSelect'>
                            <option value="" disabled selected>What News Sources do you prefer?</option>
                            <option value="abc-news">ABC News</option>
                            <option value="ars-technica">Ars Technica</option>
                            <option value="associated-press">Associated Press</option>
                            <option value="bbc-news">BBC News</option>
                            <option value="bloomberg">Bloomberg</option>
                            <option value="business-insider">Business Insider</option>
                            <option value="cnn">CNN</option>
                            <option value="espn">ESPN</option>
                            <option value="fox-news">Fox News</option>
                            <option value="national-geographic">National Geographic</option>
                            <option value="reddit-r-all">Reddit/r/all</option>
                            <option value="reuters">Reuters</option>
                            <option value="the-sport-bible">The Sport Bible</option>
                            <option value="techcrunch">TechCrunch</option>
                            <option value="vice-news">Vice News</option>
                            <option value="the-washington-times">The Washington Times</option>
                        </select>
                        {{!-- <label>Which news sources do you prefer?</label> --}}
                    </div>
                </div>
                
                <a id='newUserAdd' class='btn-large waves-effect'>SUBMIT</a>
            </form>
        </div>
    </div>
</div>